.footer {
    &__top {
        background-color: #232930;

        .section-box {
            justify-content: space-between;
            padding-top: 15px;
            padding-bottom: 26px;

            @media #{$tablet} {
                padding-top: 10px;
                padding-bottom: 12px;
            }

            .socials {
                justify-content: end;

                @media #{$tablet} {
                    justify-content: start;
                    gap: 10px;
                }
            }

            &>div {
                @media #{$tablet} {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    width: 100%;
                }
            }
        }
    }

    &__menu {
        @media #{$tablet} {
            display: none;
        }

        ul {
            li {
                padding: 0 50px;

                @media screen and (max-width: 1150px) {
                    padding: 0 25px;
                }

                a {
                    font-family: $font-second;
                    font-weight: $font-weight-regular;
                    color: $color-white;

                    &::before {
                        content: none;
                    }
                }
            }
        }
    }

    &__tel {
        margin-bottom: 26px;

        @media #{$tablet} {
            margin-bottom: 0;
        }

        span {
            color: $color-white;

            @media #{$tablet} {
                font-size: 18px;
            }
        }
    }

    &__bottom {
        background-color: $color-primary-text;
        padding-bottom: 43px;

        @media #{$tablet} {
            padding-bottom: 30px;
        }

        .section-box {
            position: relative;
            flex-direction: column;

            .address {
                p {
                    color: #A1A6AA;
                }

                a {
                    color: #69C9F3;

                    @media #{$tablet} {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    &__logo {
        width: max-content;
        height: max-content;
        transform: translateY(-68px);
        margin-bottom: -68px;

        @media #{$tablet} {
            transform: translateY(0);
            margin-top: 6px;
            margin-bottom: 0;
        }

        img {
            width: 464px;

            @media #{$tablet} {
                width: 335px;
            }
        }
    }

    &__luxar {
        position: absolute;
        top: 12px;
        right: 50px;

        @media #{$tablet} {
            top: auto;
            right: 25px;
            bottom: -25px;
        }

        @media #{$phone} {
            right: 14px;
        }
    }
}