.order {
    position: relative;
    width: 100%;
    height: 568px;
    background: url(../images/order-bg.jpg) no-repeat center;
    background-size: cover;

    @media #{$tablet} {
        height: 583px;
        margin-bottom: 222px;
    }

    .section-box {
        position: relative;

        @media #{$tablet} {
            flex-direction: column-reverse;
        }
    }

    &__images {
        position: relative;
        width: 755px;
        height: 100%;
        transform: translateX(-100px);
        margin-right: -65px;

        @media #{$desktop} {
            transform: translateX(-200px);
            margin-right: -165px;
        }

        @media screen and (max-width: 1150px) {
            transform: translateX(-350px);
            margin-right: -315px;
        }

        @media #{$tablet} {
            max-width: 375px;
            width: 100%;
            transform: translateX(0);
            margin-right: 0;
        }

        @media #{$phone} {
            transform: translateX(-14px);
        }

        img {
            position: absolute;
            pointer-events: none;
            height: auto;
            border-radius: 50px 0 50px 0;
            object-fit: cover;
            object-position: center;

            &:nth-of-type(1) {
                width: 227px;
                top: 56px;
                left: 0;

                @media #{$tablet} {
                    width: 166px;
                    top: 31px;
                }
            }

            &:nth-of-type(2) {
                width: 273px;
                top: 125px;
                left: 142px;

                @media #{$tablet} {
                    width: 168px;
                    left: 50px;
                }
            }

            &:nth-of-type(3) {
                width: 294px;
                top: -50px;
                left: 279px;

                @media #{$tablet} {
                    width: 233px;
                    height: 173px;
                    top: 0;
                    left: 128px;
                }
            }

            &:nth-of-type(4) {
                width: 283px;
                top: 66px;
                right: 0;

                @media #{$tablet} {
                    width: 187px;
                    top: 70px;
                    left: 188px;
                }
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        max-width: 467px;
        margin-top: 30px;
        z-index: 2;

        @media #{$tablet} {
            margin-bottom: 27px;
        }

        h2 {
            font-size: 90px;
            line-height: 80px;
            color: $color-white;
            margin-bottom: 20px;

            @media #{$tablet} {
                font-size: 70px;
                line-height: 60px;
                max-width: 282px;
                margin-bottom: 0;
            }
        }

        input {
            margin-bottom: 12px;

            @media #{$tablet} {
                line-height: 47px;
                margin-bottom: 9px;
            }
        }

        .btn-shadow {
            font-family: $font-second;
            font-weight: $font-weight-medium;
            width: 226px;
            margin: 10px 0;

            @media #{$tablet} {
                line-height: 48px;
                width: 100%;
                margin: 8px 0 13px;
            }
        }
    }

    &__leaf {
        position: absolute;
        width: 374px;
        height: 100%;
        top: -34px;
        right: 50px;
        z-index: 0;

        @media #{$tablet} {
            width: 240px;
            overflow: hidden;
            top: -27px;
            right: 0;
        }

        img {
            position: absolute;
            pointer-events: none;
            height: auto;

            &:nth-of-type(1) {
                width: 287px;
                border-radius: 0 87px 87px 87px;
                top: 0;
                right: 0;

                @media #{$tablet} {
                    width: 205px;
                    right: -27px;
                }
            }

            &:nth-of-type(2) {
                width: 231px;
                top: 120px;
                left: 0;

                @media #{$tablet} {
                    top: 83px;
                    width: 168px;
                }
            }
        }
    }

    &__clouds {
        position: absolute;
        width: 100%;
        height: calc(100% + 262px);
        pointer-events: none;
        transform: translateY(-262px);
        overflow: hidden;
        z-index: 1;
        top: 0;
        left: 0;
        
        @media #{$tablet} {
            display: none;
        }

        img {
            position: absolute;
            max-width: none;
            height: auto;
            pointer-events: none;

            &:nth-of-type(1) {
                width: 730px;
                top: 102px;
                left: -308px;
            }

            &:nth-of-type(2) {
                width: 898px;
                top: 0px;
                left: 128px;
            }

            &:nth-of-type(3) {
                width: 898px;
                top: 40px;
                right: -210px;
            }
        }
    }

    &_krilya {
        height: 458px;

        @media #{$tablet} {
            height: 683px;
            margin-bottom: 0;
        }

        .order {
            &__images {
                transform: translateX(-260px);
                z-index: 2;

                @media screen and (max-width: 1500px) {
                    transform: translateX(-50px);
                }

                @media #{$desktop} {
                    transform: translateX(-25px);
                }

                @media #{$phone} {
                    transform: translateX(-14px);
                }

                img {
                    width: 835px;
                    height: auto;
                    border-radius: 0;
                    top: auto;
                    left: 0;
                    bottom: 0;

                    @media #{$desktop} {
                        width: 600px;
                    }

                    @media screen and (max-width: 600px) {
                        width: 100%;
                    }
                }
            }

            &__clouds {
                img {
                    &:nth-of-type(1) {
                        top: 275px;

                        @media screen and (max-width: 1500px) {
                            top: 175px;
                        }
                    }

                    &:nth-of-type(2) {
                        top: 100px;
                        left: 60px;

                        @media screen and (max-width: 1500px) {
                            top: 75px;
                            left: -75px;
                        }
                    }
                }
            }
        }
    }
}